MiNiFi_Tail_Logs_to_NiFi_to_HDFS_Demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Learn how to use MiNiFi to tail log files, deliver to NiFi, and save to HDFS.</description>
    <groupId>0fb00b4c-0172-1000-ffff-ffff83833fc3</groupId>
    <name>MiNiFi Tail Logs to NiFi to HDFS Demo</name>
    <snippet>
        <connections>
            <id>15c8ec6b-1191-3a31-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d70e7932-1ced-37fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>a0e7e149-4c58-33db-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>32e9e952-c6bb-3aa7-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>455.0</x>
                <y>652.50907310039</y>
            </bends>
            <bends>
                <x>455.0</x>
                <y>702.50907310039</y>
            </bends>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d84342e1-d4fb-3d13-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d84342e1-d4fb-3d13-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>470b3ef9-e09b-3fc0-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d84342e1-d4fb-3d13-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>ks3503-d050</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d70e7932-1ced-37fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>81620ca8-d9f5-3c72-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1037.0</x>
                <y>643.50907310039</y>
            </bends>
            <bends>
                <x>1037.0</x>
                <y>693.50907310039</y>
            </bends>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>0a924185-5299-34f8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>0a924185-5299-34f8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>90649173-1a6c-355f-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>555ecb96-450e-3156-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>0a924185-5299-34f8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3feeff6-94ed-33ec-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>0a924185-5299-34f8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d70e7932-1ced-37fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f8fb1205-7398-3827-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>100000</backPressureObjectThreshold>
            <destination>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>555ecb96-450e-3156-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>87247a6a-d5e9-3d84-0000-000000000000</groupId>
                <id>d84342e1-d4fb-3d13-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <inputPorts>
            <id>a0e7e149-4c58-33db-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>349.8220329284668</x>
                <y>107.25029929667903</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>MiNiFy Input</name>
            <state>STOPPED</state>
            <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
            <id>13afd696-88f7-306b-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>231.83236690781166</x>
                <y>0.0</y>
            </position>
            <height>52.82882308959961</height>
            <label>This input port must be on main root canvas.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>501.2447814941406</width>
        </labels>
        <labels>
            <id>7e99368f-2c29-3896-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>1194.2710638835194</x>
                <y>95.03995849609373</y>
            </position>
            <height>150.0</height>
            <label>This flow is used to create the
 MiNiFi Template</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>378.09596252441406</width>
        </labels>
        <labels>
            <id>90e8cd10-3d41-3192-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>92.44038139603185</x>
                <y>296.5826196289063</y>
            </position>
            <height>105.36000442504883</height>
            <label>This is used to 
organize per 
hostname.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>177.3599853515625</width>
        </labels>
        <labels>
            <id>dcf96e6c-892f-3958-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>1218.5413875218285</x>
                <y>520.1601887532611</y>
            </position>
            <height>316.1728210449219</height>
            <label> Instructions:

1. Make sure MiNiFi installed on data source and able to communicate with this NiFi node
2. Edit Demo Variables
  - hadoopConfigurationResources
3.  Start NiFi Input Port
4. Edit Remote Process Group in MiNiFi Flow
5. Create MiNiFi Flow Template in Nifi
6. Import Template to MiNiFi
7. Start MiNifi
8. Monitor Flow and HDFS Endpoint</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>24px</value>
                </entry>
            </style>
            <width>982.6239013671875</width>
        </labels>
        <outputPorts>
            <id>555ecb96-450e-3156-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>314.0</x>
                <y>911.50907310039</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Output</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
            <validationErrors>'Port 'Output'' is invalid because Output connection for port 'Output' is not defined.</validationErrors>
        </outputPorts>
        <processGroups>
            <id>9fc50900-37a7-3478-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>1195.8081811523434</x>
                <y>258.0104720261713</y>
            </position>
            <comments>/var/log/messages
/var/log/secure
/var/log/yum.log</comments>
            <contents>
                <connections>
                    <id>53cb2c36-0fe3-39e0-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>429a6a3e-d57c-3af6-0000-000000000000</groupId>
                        <id>bd433f36-c930-1672-958f-d1b89b80a68b</id>
                        <type>REMOTE_INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>897f8a9d-dec0-3e9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d13d2e89-4c1b-3618-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>897f8a9d-dec0-3e9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>53efaebb-dcea-34c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d874252c-f362-3b21-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>897f8a9d-dec0-3e9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>38afef28-9890-3305-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e9fff9af-4fc2-3a42-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>897f8a9d-dec0-3e9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9fc50900-37a7-3478-0000-000000000000</groupId>
                        <id>567bd4d1-86f5-3ea9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>321da385-2246-3531-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>457.3050943928945</x>
                        <y>487.7666697052356</y>
                    </position>
                    <height>127.41851806640625</height>
                    <label>Set this to the NiFi url running the input port.  
This should be the same NiFi instance that holds 
this current process group.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>546.30517578125</width>
                </labels>
                <processors>
                    <id>38afef28-9890-3305-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>1022.9999694824219</x>
                        <y>76.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.1.1-4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>tail-mode</key>
<value>
    <name>tail-mode</name>
</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>
    <name>File to Tail</name>
</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>
    <name>Rolling Filename Pattern</name>
</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
<value>
    <name>tail-base-directory</name>
</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>
    <name>Initial Start Position</name>
</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>
    <name>File Location</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>
    <name>tailfile-recursive-lookup</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>
    <name>tailfile-lookup-frequency</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>
    <name>tailfile-maximum-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>tail-mode</key>
<value>Single file</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>/var/log/secure</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>secure-*</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>Beginning of File</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>false</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>10 minutes</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>24 hours</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>tailSecureLog</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TailFile</type>
                </processors>
                <processors>
                    <id>53efaebb-dcea-34c9-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>622.9999694824219</x>
                        <y>77.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.1.1-4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>tail-mode</key>
<value>
    <name>tail-mode</name>
</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>
    <name>File to Tail</name>
</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>
    <name>Rolling Filename Pattern</name>
</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
<value>
    <name>tail-base-directory</name>
</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>
    <name>Initial Start Position</name>
</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>
    <name>File Location</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>
    <name>tailfile-recursive-lookup</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>
    <name>tailfile-lookup-frequency</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>
    <name>tailfile-maximum-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>tail-mode</key>
<value>Single file</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>/var/log/messages</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>mesages-*</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>Beginning of File</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>false</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>10 minutes</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>24 hours</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>tailMessagesLog</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TailFile</type>
                </processors>
                <processors>
                    <id>567bd4d1-86f5-3ea9-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>1442.9999694824219</x>
                        <y>75.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.1.1-4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>tail-mode</key>
<value>
    <name>tail-mode</name>
</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>
    <name>File to Tail</name>
</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>
    <name>Rolling Filename Pattern</name>
</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
<value>
    <name>tail-base-directory</name>
</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>
    <name>Initial Start Position</name>
</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>
    <name>File Location</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>
    <name>tailfile-recursive-lookup</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>
    <name>tailfile-lookup-frequency</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>
    <name>tailfile-maximum-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>tail-mode</key>
<value>Single file</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>/var/log/yum.log</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>Beginning of File</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>false</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>10 minutes</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>24 hours</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>tailYumLog</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TailFile</type>
                </processors>
                <processors>
                    <id>897f8a9d-dec0-3e9e-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>1029.9999987392334</x>
                        <y>265.99999956435</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.1.1-4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>host_name</key>
<value>
    <name>host_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>host_name</key>
<value>${hostname()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>setHostName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <remoteProcessGroups>
                    <id>429a6a3e-d57c-3af6-0000-000000000000</id>
                    <parentGroupId>9fc50900-37a7-3478-0000-000000000000</parentGroupId>
                    <position>
                        <x>1017.0</x>
                        <y>481.0</y>
                    </position>
                    <comments></comments>
                    <communicationsTimeout>30 sec</communicationsTimeout>
                    <contents>
                        <inputPorts>
                            <batchSettings/>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <connected>true</connected>
                            <exists>true</exists>
                            <groupId>97a633ee-b042-1c0c-819f-e853d79628ac</groupId>
                            <id>bd433f36-c930-1672-958f-d1b89b80a68b</id>
                            <name>MiNiFy Input</name>
                            <targetId>bf833689-b09a-1c27-a787-cb4918dcbfa3</targetId>
                            <targetRunning>true</targetRunning>
                            <transmitting>false</transmitting>
                            <useCompression>false</useCompression>
                        </inputPorts>
                    </contents>
                    <proxyHost></proxyHost>
                    <proxyUser></proxyUser>
                    <targetUri>http://ks3503-d051.demo.com:9090/nifi</targetUri>
                    <targetUris>http://ks3503-d051.demo.com:9090/nifi</targetUris>
                    <transportProtocol>RAW</transportProtocol>
                    <yieldDuration>10 sec</yieldDuration>
                </remoteProcessGroups>
            </contents>
            <name>Minifi Flow  - Tail Messages, Secure, Yum</name>
            <variables/>
        </processGroups>
        <processors>
            <id>0a924185-5299-34f8-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>582.0</x>
                <y>603.50907310039</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.3.4.1.1-4</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>${hadoopConfigurationResources}</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/logs/${RouteOnAttribute.Route}/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>d70e7932-1ced-37fe-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>292.72314071655273</x>
                <y>282.95707114726497</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.3.4.1.1-4</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ks3503-d050</key>
                        <value>
                            <name>ks3503-d050</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>ks3503-d050</key>
                        <value>${host_name:equals('ks3503-d050')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>ks3503-d050</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>d84342e1-d4fb-3d13-0000-000000000000</id>
            <parentGroupId>87247a6a-d5e9-3d84-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>612.50907310039</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.3.4.1.1-4</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>${hadoopConfigurationResources}</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/logs/${RouteOnAttribute.Route}/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
    </snippet>
    <timestamp>05/13/2020 20:43:39 UTC</timestamp>
</template>
